.blur {
  filter: blur(15px);
}

.sticker {
  height: 30vh;
  background-color: #5713ad;
}

.sticker-title {
  padding-top: 2rem;
  text-align: center;
  color: #FFFF;
  text-shadow: 1px 1px #ffc107;
}
